<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <title>Malay Goel</title>
</head>

<body>
    <div class="main tilt-in-fwd-tr">
        <div class="div1">
            <h1>Malay Goel</h1>
            <div class="nav-links">
                <a href="#">About</a>
                <a href="#">Work</a>
                <a href="#">Contact</a>
            </div>
        </div>
        <div class="div2">
            <h2>Hi, I'm Malay Goel</h2>
            <p>
                <br>
                I'm a Computer Science student and Python & java focused developer who enjoys building practical, real-world applications.
                <br>
                I specialize in backend development using Flask and Spring Boot, and I actively practice Data Structures & Algorithms to strengthen my problem-solving skills.
                <br>
                Currently exploring Machine Learning and FastAPI while continuously improving through hands-on projects.
            </p>
            <div class="image">
                <img th:src="@{/images/profile.jpg}" alt="Malay Goel">
            </div>
        </div>
        <div class="div3">
            <h4>My Skill Stack</h4>
            <div class="carousel">
                <div class="skills-container" style="--quantity:6">
                    <div class="skill-category" style="--position:1">
                        <h3>Programming Languages</h3>
                        <ul>
                            <li>Python</li>
                            <li>Java</li>
                            <li>JavaScript</li>
                        </ul>
                    </div>
                    <div class="skill-category" style="--position:2">
                        <h3>Web Development</h3>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Flask</li>
                            <li>FastAPI</li>
                            <li>Spring Boot</li>
                            <li>Tailwind</li>
                            <li>React</li>
                        </ul>
                    </div>
                    <div class="skill-category" style="--position:3">
                        <h3>Libraries & Tools</h3>
                        <ul>
                            <li>NumPy</li>
                            <li>Pandas</li>
                            <li>Matplotlib</li>
                            <li>Seaborn</li>
                            <li>parse</li>
                            <li>FastAPI</li>
                        </ul>
                    </div>
                    <div class="skill-category" style="--position:4">
                        <h3>Databases</h3>
                        <ul>
                            <li>MongoDB</li>
                            <li>MySQL</li>
                        </ul>
                    </div>
                    <div class="skill-category" style="--position:5">
                        <h3>Tools & Platforms</h3>
                        <ul>
                            <li>Git & GitHub</li>
                            <li>VS Code</li>
                            <li>IntelliJ IDEA</li>
                            <li>MongoDB Atlas</li>
                            <li>MySQL WorkBench</li>
                        </ul>
                    </div>
                    <div class="skill-category" style="--position:6">
                        <h3>Core CS</h3>
                        <ul>
                            <li>Data Structures & Algorithms</li>
                            <li>OOPs</li>
                            <li>File Handling</li>
                            <li>Exception Handling</li>
                            <li>Command line Interface</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div4">
            <h5>About App</h5>
            <div class="detail">
                <p>
                    This app is a smart coding platform designed for students and teachers. Students can submit their code for problems, and the app automatically analyzes it to estimate time and space complexity, detect potential code smells, and provide feedback on coding quality.
                    Teachers can easily review submissions, track progress, and offer guidance, making the learning and evaluation process more efficient and transparent.
                    It’s a bridge between learning, practice, and constructive code review, helping students write cleaner and more efficient code.
                </p>
            </div>
        </div>
        <div class="div5">
            <h5>Profiles</h5>
            <div class="link">
                <div class="linkrow">
                    <img th:src="@{/images/github.jpg}" alt="GitHub">
                    <a href="https://github.com/MalayGoel07">GitHub</a>
                </div>
                <div class="linkrow">
                    <img th:src="@{/images/linkedin.jpg}" alt="LinkedIN">
                    <a href="https://www.linkedin.com/in/malay-goel-419773387/">LinkedIN</a>
                </div>
            </div>
        </div>
    </div>
    <a class="back-link" th:href="@{/home}"> Back</a>
    <script th:src="@{/js/particle.js}"></script>
</body>
</html>
