<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/SandboxCompiler.css}">
    <title>Document</title>
</head>
<body>
    <div class="div0">
        <div class="div1">
            <form th:action="@{/SandboxCompiler}" method="post">
                <p><textarea name="code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Paste your code here" th:text="${code}"></textarea></p>
                <select name="language">
                    <option value="java" th:selected="${language == 'java'}">Java</option>
                    <option value="python" th:selected="${language == 'python'}">Python</option>
                </select>
                <button type="submit">Run</button>
            </form>
        </div>
        <div class="div2">
            <p><textarea name="output" th:text="${output}" readonly placeholder="Output will appear here"></textarea></p>
        </div>
        <a class="back-link" th:href="@{/home}">Back</a>
    </div>
    <script th:src="@{/js/particle.js}"></script>
</body>
</html>
